<!DOCTYPE html>
<html>
<head>
    <title>PyCruiseTray</title>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
    <meta name="keywords" content="Python, CruiseControl, Tray, PyCruiseTray"/>
</head>
<body>
<div id="container">
    <header>
        <h1><a href="/"><img src="/images/logo.png" alt="Logo"/></h1>
    </header>

    <div id="content">
        {{ content }}
    </div>

    <nav>
        <menu>
            <li><a href="/download">Download</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
        </menu>
    </nav>
    <footer>
        PyCruiseTray is developed by Fabian Becker
    </footer>
</div>
</body>
</html>